*.csv,*.zip filter=lfs diff=lfs merge=lfs -text
creditcard.csv filter=lfs diff=lfs merge=lfs -text
creditcardfraud.zip filter=lfs diff=lfs merge=lfs -text
data/Real_Estate_Sales_2001-2022_GL.csv filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
